.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #212226;
  color: #fff;
}

.navs {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  flex: 1;
  gap: 2em;
  list-style: none;
}

.link,
.link:visited {
  text-decoration: none;
  color: inherit;
}
