.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 0;
  z-index: 2;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: translate(0, -150%);
  transition: all 0.4s ease;
  background-color: #fff;
  padding: 20px;
  border-radius: 0.5em;
  box-shadow: 0 10px 15px #0008;
  color: #000;
}

.dropdown.toggled {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 1em);
}

.subtext {
  font-size: 80%;
  color: #333;
}

.link {
  cursor: pointer;
  font-size: 100%;
  margin: 1em;
  border: none;
  padding: 0;
  margin: 0 1em;
  background-color: transparent;
  color: #ffffff;
  text-decoration: underline;
}

.dropdown-option {
  display: block;
  margin-bottom: 0.5em;
  color: #333;
  white-space: nowrap;
}