.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 20px;
  margin: 20px;
  padding: 0;
  list-style: none;
}

.item {
  animation: float-in 1s forwards;
  opacity: 0;
}

.item:focus-within,
.item:hover {
  z-index: 1;
}

//delay after each card floating-in, in seconds
$delay-step: 0.1;
$list-size: 20;
@for $card-index from 1 to $list-size {
  .item:nth-child(#{$card-index}) {
    animation-delay: #{$card-index * $delay-step}s;
  }
}

@keyframes float-in {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
