.card {
  position: relative;
  box-sizing: border-box;
  padding: 20px 20px;
  border-radius: 12px;
  box-shadow: 0 12px 30px #0002;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.4s;
}

.card:hover {
  transform: scale(1.1);
}

/* Stretch card if it is placed inside a <li> since
layout will be controlled by <ul> or <ol> (i.e. flex or grid)*/

li > .card {
  width: 100%;
  height: 100%;
}

.heading {
  text-align: center;
}

.author {
  color: #464646;
  text-align: center;
}


.link {
  text-align: right;
}

/* Stretch link all over the card */
.link::after {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0;
  content: "";
}

/* Status tag */
.status-tag {
  top: 0;
  right: 0;
  padding: 0.25em 1em;
  position: absolute;
  background-color: #fff;
  text-transform: capitalize;
}

.status-tag.unpublished {
  background-color: #f80;
  color: #fff;
}

.status-tag.published {
  background-color: #0d47a1;
  color: #fff;
}

.status-tag.archived {
  background-color: #b00;
  color: #fff;
}
