.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 40px;
  border-radius: 1em;
  box-shadow: 0 20px 20px #0008;
}

.input-block {
  margin-bottom: 2em;
}

.input-block > input {
  font-size: inherit;
  padding: 0.25em 0.5em;
  border-radius: 0.8em;
}

.input-block > label {
  display: block;
  margin-bottom: 0.5em;
}

.submit-button {
  font-size: 120%;
  padding: 0.5em;
  height: 3em;
  border-radius: 1.5em;
  width: 100%;
}

.submit-button:hover {
  background-color: #ddd;
}